/* register.css */

.register-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: var(--color-border);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
	text-align: center;
}

.register-container form {
	display: flex;
	flex-direction: column;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container button {
	margin-bottom: 15px;
	padding: 10px;
	font-size: 16px;
	border: var(--color-border);
	border-radius: 5px;
	width: 100%;
}

.register-container button {
	background-color: var(--color-primary);
	color: var(--color-white);
	border: none;
	cursor: pointer;
}

.register-container button:hover {
	background-color: var(--color-primary-hover);
}
